VOCDONI_ENVIRONMENT=prod
FEATURES='{"faucet":true,"vote":{"anonymous":true,"overwrite":true,"secret":true,"customization":true},"types":{"single":true,"multi":false,"approval":false,"participatory":false,"borda":false},"login":["web3","web2"],"census":["spreadsheet","token","web3"],"unimplemented_census":[],"voting_type":["single", "approval"],"unimplemented_voting_type":[],"languages":["en","es","ca"]}'
