VOCDONI_ENVIRONMENT=prod
FEATURES='{"faucet":true,"vote":{"anonymous":true,"overwrite":true,"secret":true,"customization":true},"types":["single":true,"multi":true,"approval":true,"participatory":true,"borda":true],"login":["web3","web2"],"census":["spreadsheet","token","web3"],"unimplemented_census":["phone","email","crm","database","digital_certificate","others"],"languages":["en","es","ca"]}'
