<!DOCTYPE html>
<!-- commit sha: <%- commit %> -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />

    <title><%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="apple-touch-icon" href="/logo128.png" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="canonical" href="https://app.vocdoni.io" />
    <meta
      name="description"
      content="Vocdoni APP is a secure voting platform tailored for local governments, organizations, cooperatives, and businesses, offering a easy-to-use, transparent, and GDPR-compliant way to engage in decision-making, with a user-friendly interface that cuts costs and complexity, allowing votes from anywhere on any device."
    />
    <meta
      name="keywords"
      content="digital voting, blockchain voting, Web2, voting, participatory budgeting, local governments, organizations, cooperatives, business, GDPR compliant, secure elections, user-friendly interface, cost-effective, mobile-friendly, multidevice, vote from anywhere"
    />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Vocdoni" />

    <!-- Open Graph Protocol for Facebook -->
    <meta property="og:title" content="Vocdoni App: Simplifying Secure Digital Voting for Everyone" />
    <meta
      property="og:description"
      content="Vocdoni App is leading the way in digital voting, offering a secure, GDPR-compliant, and user-friendly platform that simplifies the voting process for organizations and local governments. Find out how at https://vocdoni.app."
    />
    <meta property="og:image" content="/assets/vocdoniapp.png" />
    <meta property="og:url" content="https://app.vocdoni.io">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Vocdoni App: Simplifying Secure Digital Voting for Everyone">

    <!-- Twitter Card -->
    <meta  property="twitter:title" content="Vocdoni App: Simplifying Secure Digital Voting for Everyone" />
    <meta
      content="Discover how Vocdoni App revolutionizes digital voting with a user-friendly, secure, and cost-effective platform, perfect for organizations and governments aiming to simplify decision-making and engage communities."
      property="twitter:description"
    />
    <meta property="twitter:image" content="/assets/vocdoniapp.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@vocdoni">
    <meta name="twitter:creator" content="@vocdoni">

    <!-- Telegram -->
    <meta property="telegram:domain" content="https://app.vocdoni.io">
    <meta property="telegram:title" content="Vocdoni App: Simplifying Secure Digital Voting for Everyone">
    <meta property="telegram:description" content="Vocdoni App is leading the way in digital voting, offering a secure, GDPR-compliant, and user-friendly platform that simplifies the voting process for organizations and local governments. Find out how at https://vocdoni.app.">
    <meta property="og:telegram" content="Vocdoni App is here to transform your voting experience with a secure, transparent, and user-friendly platform, making it easy to vote from anywhere on any device. Explore more at https://app.vocdoni.io.">

    <!-- WhatsApp -->
    <meta property="og:whatsapp" content="Vocdoni App is here to transform your voting experience with a secure, transparent, and user-friendly platform, making it easy to vote from anywhere on any device. Explore more at https://app.vocdoni.io.">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T4KG28TW');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T4KG28TW"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="root"></div>
    <script type="module" src="/src/index.tsx"></script>
    <script defer data-domain="app.vocdoni.io" src="https://plausible.io/js/script.js"></script>
  </body>
</html>
