interface IDemoData {
orgName: string
mainTitle: string
date: string
endate: string
elections: string[]
}

export const DemoData: IDemoData = {
orgName: "{{ orgName }}",
mainTitle: "{{ mainTitle }}",
date: "{{ date }}",
endate: "{{ endate }}",
elections: [
{{#elections}}
  "{{.}}",
{{/elections}}
],
}
