interface IDemoData {
orgName: string
mainTitle: string
date: string
endDate: string
elections: string[]
}

export const DemoData: IDemoData = {
orgName: "{{ orgName }}",
mainTitle: "{{ mainTitle }}",
date: "{{ date }}",
endDate: "{{ endDate }}",
elections: [
{{#elections}}
  "{{.}}",
{{/elections}}
],
}
